<table class="other-users">
    <thead>
        <th>Name</th>
        <th>Started</th>
        <th>Vacation days available</th>
        <th>Vacation days used</th>
        <th>Unpaid days off</th>
        <th>Sick leave days</th>
    </thead>
    <tbody>
<!--<user-item ng-repeat="other_employee in userList"></user-item>-->
    <tr ng-repeat="other_employee in userList">
        <td>{{other_employee.Title}}</td>
        <td>{{other_employee.Startworkdate | date}}</td>
        <td>{{other_employee.days_available}}</td>
        <td>{{other_employee.days_used}}</td>
        <td>{{other_employee.unpayed}}</td>
        <td>{{other_employee.sick_leave}}</td>
    </tr>
</tbody>
</table>
<!--<user-item ng-repeat="other_employee in userList"></user-item>-->
