<!--
<div>{{other_employee.Title}}</div>
<div>{{other_employee.Startworkdate | date}}</div>
-->
    <div>{{other_employee.Title}}</div>
    <div>{{other_employee.Startworkdate}}</div>
    <div>{{other_employee.days_available}}</div>
    <div>{{other_employee.days_used}}</div>
    <div>{{other_employee.unpayed}}</div>
    <div>{{other_employee.sick_leave}}</div>


