<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script type="text/javascript" src="/sites/ts/SiteAssets/dayOff/lib/angular.min.js"></script>
<!--    <script type="text/javascript" src="/sites/ts/SiteAssets/jQuery/jquery-1.8.2.min.js"></script>-->
<!--    <script type="text/javascript" src="/_layouts/15/sp.runtime.js"></script>-->
<!--    <script type="text/javascript" src="/_layouts/15/sp.js"></script>-->
	<!-- Add your CSS styles to the following file -->
    <link rel="Stylesheet" type="text/css" href="/sites/ts/SiteAssets/dayOff/css/App.css" />
    <link rel="stylesheet" type="text/css" href="/sites/ts/SiteAssets/dayOff/css/essn-vacation-main.css"  />
    <!-- Add your JavaScript to the following file -->
<!--    <script type="text/javascript" src="/sites/ts/SiteAssets/dayOff/js/App.js"></script>-->
    
    <script type="text/javascript" src="/sites/ts/SiteAssets/dayOff/app/controllers/main.js"></script>
    <script type="text/javascript" src="/sites/ts/SiteAssets/dayOff/app/app.config.js"></script>
    <!--services-->
    <script type="text/javascript" src="/sites/ts/SiteAssets/dayOff/app/components/services/getlistinfo.js"></script>
    <!--directives-->
    <script type="text/javascript" src="/sites/ts/SiteAssets/dayOff/app/components/directives/useritem.js"></script>
    <script type="text/javascript" src="/sites/ts/SiteAssets/dayOff/app/components/directives/customtable.js"></script>
    
</head>
<body ng-app="dayOff" ng-controller="MainController">

    
    <h1 id="hello-message">Hello, {{loggedUser.Title}}</h1>
    <section>
        <h2>Your vacations statistics:</h2>
        <br />
        <table id="user-vacation" style="padding-bottom: 50px;margin-right: 50px;float: left;padding-left: 43px;">
            <tr class="tr-user">
                <th>Vacation days available</th>
                <th>Vacation days used</th>
                <th>Unpaid days off</th>
                <th>Sick leave days</th>
            </tr>
            <tr class="tr-user">
                <td id="free-days">{{loggedUser.days_available}}</td>
                <td id="spent-holidays">{{loggedUser.days_used}}</td>
                <td id="compensatory">{{loggedUser.unpayed}}</td>
                <td id="sickDays">{{loggedUser.sick_leave}}</td>
            </tr>
        </table>
    </section>
    <br /><!--to do-->
    <section id="upcoming-vacation" ng-show="next_vacation">
        <h2>Your upcoming vacation: </h2>
        <br />
        <div id="next-vacation">
            <span> {{next_vacation.start_date}}</span> - 
            <span>{{next_vacation.end_date}}</span> - 
            <span>{{next_vacation.title}}</span>
        </div>
    </section>
    <section id="upcoming-holiday" ng-show="next_holiday">
        <h2>Next holiday: </h2>
        <br />
        <div id="next-holiday">
            <span> {{next_holiday.date}}</span> - 
            <span>{{next_holiday.title}}</span>
        </div>
    </section>
    <section id="other-users-stats" ng-if="loggedUser.displayOtherStats">
        <h2>Employees statistics: </h2>
        <br />
        <custom-table></custom-table>
    </section>
	<section id="upcoming-holidays-list">
        <h2>Next upcoming holidays:</h2>
        <br />
        <ul>
			<li ng-repeat="other_holiday in upcoming_holidays_list">
				<span> {{other_holiday.date}}</span> - 
            	<span>{{other_holiday.title}}</span> 
				 <div ng-show="other_holiday.UA || other_holiday.US">- <span ng-show="other_holiday.UA">UA</span><span ng-show="other_holiday.UA && other_holiday.US">/</span><span ng-show="other_holiday.US">US</span></div>
			</li>
		</ul>
    </section>


<!--
    <script type="text/javascript">
        
    </script>
-->

</body>
</html>
