section {
    clear: both;
    padding-top: 2em;
}
section.hide-section {
    display: none;
}
table #user-vacation {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

table #user-vacation td {
    padding: 20px 8px;
}

table #admin-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

table #weekend {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

tr.tr-user > td, tr.tr-user > th {
    color: #739900;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 12px;
}

table#user-vacation > tr:nth-child(even) {
    background-color: #dddddd;
}

table#admin-table > tr:nth-child(even) {
    background-color: #dddddd;
}

table#weekend > tr:nth-child(even) {
    background-color: #dddddd;
}


/*ul.hr li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a:visited {
    color: white !important;
}*/


table.other-users td,
table.other-users th{
    padding: 0.5em;
    text-align: center;    
    border: 0.5px solid #eaeaea;
}
table.other-users tr>td:first-child {
    text-align: left;
}

table.other-users thead tr {
/*    background-color: rgba(154, 227, 68, 0.4);*/
    color: #739900;
}

table.other-users tbody tr:nth-child(2n+2) {
    background-color: rgba(154, 227, 68, 0.1);
}