﻿  table #user-vacation {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 75%;
        }

        table #weekend {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            /*width: 20%;*/
        }

        tr.tr-user > td, tr.tr-user > th {
            color: #739900;
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
            font-size: 12px;
        }

        table#user-vacation > tr:nth-child(even) {
            background-color: #dddddd;
        }

        table#weekend > tr:nth-child(even) {
            background-color: #dddddd;
        }